@import "variables.scss";

.main{
    background-color: #ffffff;
    width: 80vw;
    height: 80vh;
    margin: auto;
    border-radius: 25px;
    color: $textColorDark;
    font-size: 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    button{
        width: 20%;
        height: 30px;
    }
}