$background: #ffffffff;
$foreground: #1b1b1dff;
$alternativeColor: #b2b2b2ff;
$textColorLight: #1b1b1dff;
$textColorDark: #ffffffff;


$white: #ffffffff;
$eerie-black: #1b1b1dff;
$tomato: #ff6347ff;
$silver: #b2b2b2ff;