@use "@/app/variables" as *;

.container{
  border: 1px solid $eerie-black;
  
  width: 80%;
  height: calc(100vh - 4.5rem);
  // height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.box{
  border: 1px solid $eerie-black;
  border-radius: 25px;
  text-align: center;
  width: 150px;
  height: 100px;
}